### Check for Features in all years

- read of years
- check if features from diabetes_features exist in a year.
- collect infomration in report and write to pickle file

- read pickle file and print report to csv files

In [1]:
# package imports go here
import pandas as pd
import numpy as np
import fastparquet as fp
import os
import sys
import pickle

sys.path.insert(1, '../pkgs')
import ml_functions as mlfuncs

In [2]:
# Path to results
year = 2021
source_path     = "../data/brfss/"
source_file     = mlfuncs.brfss_parquet_file( source_path, year )

result_path     = "../data/"
report_file     = 'feature_report.pkl'

### Candidate Diabetes features

In [3]:
diabetes_features_2021 = [
    'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'PRIMINSR', 'PERSDOC3', 'CHECKUP1', 'EXERANY2', 
    'CVDCRHD4', 'CVDSTRK3', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'MARITAL', 
    'EDUCA', 'RENTHOM1', 'EMPLOY1', 'INCOME3', 'WEIGHT2', 'DEAF', 'BLIND', 'DIFFWALK', 
    'FLUSHOT7', 'PREDIAB1', 'CHKHEMO3', 'EYEEXAM1', 
    'TOLDCFS', 'HAVECFS', 'HPVADVC4', 'SHINGLE2', 
    'CIMEMLOS', 'CDDISCUS', 'MSCODE', '_IMPRACE', '_RFHLTH', 
    '_HLTHPLN', '_TOTINDA', '_MICHD', '_PRACE1', '_RACE', '_RACEGR3', '_SEX', 
    '_AGEG5YR', '_AGE80', 'WTKG3', '_BMI5', '_BMI5CAT', '_EDUCAG', '_INCOMG1', 
    '_SMOKER3', '_RFSMOK3', '_CURECI1', '_DRNKWK1', 'BPHIGH6', 'BPMEDS', 
    'CHOLCHK3', 'TOLDHI3', 'CHOLMED3', 'PREDIAB1', 'TOLDHEPC', 'HAVEHEPB']

In [4]:
df = pd.read_parquet(source_file, engine="fastparquet")

In [11]:
feature_df = df[diabetes_features_2021].copy()

In [12]:
feature_df

,GENHLTH,PHYSHLTH,MENTHLTH,PRIMINSR,PERSDOC3,CHECKUP1,EXERANY2,CVDCRHD4,CVDSTRK3,ADDEPEV3,...,_CURECI1,_DRNKWK1,BPHIGH6,BPMEDS,CHOLCHK3,TOLDHI3,CHOLMED3,PREDIAB1,TOLDHEPC,HAVEHEPB
0,5.0,20.0,10.0,3.0,1.0,2.0,2.0,2.0,2.0,2.0,...,1.0,5.397605e-79,3.0,NaN,2.0,1.0,1.0,3.0,NaN,NaN
1,3.0,88.0,88.0,1.0,2.0,1.0,1.0,1.0,2.0,2.0,...,1.0,5.397605e-79,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN
2,2.0,88.0,88.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,...,1.0,5.397605e-79,1.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN
3,2.0,88.0,10.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,3.000000e+02,1.0,1.0,2.0,1.0,2.0,NaN,NaN,NaN
4,5.0,30.0,88.0,3.0,1.0,1.0,1.0,7.0,1.0,2.0,...,1.0,5.397605e-79,4.0,NaN,2.0,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438688,2.0,88.0,20.0,88.0,3.0,4.0,1.0,2.0,2.0,1.0,...,1.0,1.870000e+02,1.0,2.0,6.0,2.0,2.0,3.0,NaN,NaN
438689,3.0,88.0,88.0,77.0,1.0,1.0,2.0,2.0,2.0,2.0,...,1.0,5.397605e-79,1.0,1.0,2.0,2.0,1.0,NaN,NaN,NaN
438690,2.0,88.0,88.0,10.0,1.0,1.0,1.0,2.0,2.0,2.0,...,1.0,4.670000e+02,3.0,NaN,2.0,1.0,2.0,3.0,NaN,NaN
438691,2.0,88.0,88.0,3.0,2.0,1.0,1.0,2.0,2.0,2.0,...,1.0,1.400000e+02,1.0,1.0,2.0,2.0,2.0,3.0,NaN,NaN
438692,1.0,2.0,2.0,10.0,2.0,1.0,1.0,2.0,2.0,2.0,...,1.0,2.300000e+01,3.0,NaN,2.0,1.0,2.0,3.0,NaN,NaN

In [ ]:


source_file = '../data/codebooks/codebook2021.pkl'
result_file = '../data/codebooks/codebook2021_candidates.pkl'


# Load list/dict/dataframe structure from  file
with open(source_file, 'rb') as file:
    brfss_codebook_list = pickle.load(file)

start_item = int(input('\nReview start item #(0..N): '))