In [1]:
# package imports go here
import pandas as pd
import numpy as np
import fastparquet as fp
import os
import sys
import pickle

sys.path.insert(1, '../pkgs')
import ml_functions as mlfuncs

In [2]:
# Path to results
year = 2021
source_path     = "../data/brfss/"
source_file     = mlfuncs.brfss_parquet_file( source_path, year )

result_path     = "../data/"
report_file     = 'feature_report.pkl'

In [14]:
diabetes_features_2021_extended = [
    'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'PRIMINSR', 'PERSDOC3', 'CHECKUP1', 'EXERANY2', 
    'CVDCRHD4', 'CVDSTRK3', 'ADDEPEV3', 'CHCKDNY2', 'DIABETE4', 'MARITAL', 
    'EDUCA', 'RENTHOM1', 'EMPLOY1', 'INCOME3', 'WEIGHT2', 'DEAF', 'BLIND', 'DIFFWALK', 
    'FLUSHOT7', 'PREDIAB1', 'CHKHEMO3', 'EYEEXAM1', 
    'TOLDCFS', 'HAVECFS', 'HPVADVC4', 'SHINGLE2', 
    'CIMEMLOS', 'CDDISCUS', 'MSCODE', '_IMPRACE', '_RFHLTH', 
    '_HLTHPLN', '_TOTINDA', '_MICHD', '_PRACE1', '_RACE', '_RACEGR3', '_SEX', 
    '_AGEG5YR', '_AGE80', 'WTKG3', '_BMI5', '_BMI5CAT', '_EDUCAG', '_INCOMG1', 
    '_SMOKER3', '_RFSMOK3', '_CURECI1', '_DRNKWK1', 'BPHIGH6', 'BPMEDS', 
    'CHOLCHK3', 'TOLDHI3', 'CHOLMED3', 'PREDIAB1', 'TOLDHEPC', 'HAVEHEPB']

diabetes_features = [['DIABETE4',
                                         '_RFHYPE5',  
                                         'TOLDHI2', '_CHOLCHK', 
                                         '_BMI5', 
                                         'SMOKE100', 
                                         'CVDSTRK3', '_MICHD', 
                                         '_TOTINDA', 
                                         '_FRTLT1', '_VEGLT1', 
                                         '_RFDRHV5', 
                                         'HLTHPLN1', 'MEDCOST', 
                                         'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 
                                         'SEX', '_AGEG5YR', 'EDUCA', 'INCOME2' ]]

diabetes_features_2021 = [ '_AGEG5YR', '_BMI5', '_HLTHPLN', '_MICHD', '_SEX', '_SMOKER3', 
                            '_TOTINDA', 'BPHIGH6', 'CHOLCHK3', 'CVDSTRK3', 'DIABETE4', 
                            'DIFFWALK', 'EDUCA', 'GENHLTH', 'INCOME3', 'PHYSHLTH', 'TOLDHI3', 
                            'FRUTDA2_', 'GRENDA1_', 'VEGEDA2_', 'FTJUDA2_', 'FRNCHDA_', 
                            'POTADA1_', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_RFDRHV7', 
                            'TOLDCFS']

In [12]:
df = pd.read_parquet(source_file, engine="fastparquet")

In [17]:
feature_df = df[diabetes_features_2021].copy()

In [18]:
feature_df.describe()

,_AGEG5YR,_BMI5,_HLTHPLN,_MICHD,_SEX,_SMOKER3,_TOTINDA,BPHIGH6,CHOLCHK3,CVDSTRK3,...,GRENDA1_,VEGEDA2_,FTJUDA2_,FRNCHDA_,POTADA1_,_FRUTSU1,_VEGESU1,_FRTLT1A,_RFDRHV7,TOLDCFS
count,438693.000000,391841.000000,438693.000000,434058.000000,438693.000000,438693.000000,438693.000000,438691.000000,438691.000000,438691.000000,...,3.944430e+05,3.901650e+05,3.943440e+05,3.939280e+05,3.902530e+05,3.876060e+05,3.785660e+05,438693.000000,438693.000000,0.0
mean,7.726016,2855.226495,1.370170,1.918621,1.535529,3.692327,1.260891,2.238437,2.720555,1.978381,...,7.890303e+01,1.396707e+02,4.459572e+01,2.571366e+01,2.851175e+01,1.783430e+02,2.715442e+02,2.270561,1.692548,NaN
std,3.645926,655.194977,1.566496,0.273416,0.498737,1.587708,0.557932,1.053716,1.717564,0.369242,...,4.634876e+02,6.511466e+02,3.652686e+02,1.736687e+02,1.787448e+02,6.912931e+02,1.036227e+03,2.485479,2.163298,NaN
min,1.000000,1200.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,1.000000,NaN
25%,5.000000,2414.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000,2.000000,...,1.400000e+01,4.300000e+01,5.397605e-79,3.000000e+00,7.000000e+00,5.700000e+01,1.140000e+02,1.000000,1.000000,NaN
50%,8.000000,2744.000000,1.000000,2.000000,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,...,4.300000e+01,1.000000e+02,3.000000e+00,1.400000e+01,1.400000e+01,1.000000e+02,1.670000e+02,1.000000,1.000000,NaN
75%,11.000000,3174.000000,1.000000,2.000000,2.000000,4.000000,1.000000,3.000000,3.000000,2.000000,...,7.100000e+01,1.000000e+02,3.300000e+01,2.900000e+01,2.900000e+01,2.000000e+02,2.290000e+02,2.000000,1.000000,NaN
max,14.000000,9933.000000,9.000000,2.000000,2.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.900000e+03,9.900000e+03,9.900000e+03,9.900000e+03,9.900000e+03,1.980000e+04,3.960000e+04,9.000000,9.000000,NaN

In [21]:
for column in feature_df.columns:
    tot = feature_df[column].isna().sum()
    print(f"Feature: {column}: {tot}")

Feature: _AGEG5YR: 0
Feature: _BMI5: 46852
Feature: _HLTHPLN: 0
Feature: _MICHD: 4635
Feature: _SEX: 0
Feature: _SMOKER3: 0
Feature: _TOTINDA: 0
Feature: BPHIGH6: 2
Feature: CHOLCHK3: 2
Feature: CVDSTRK3: 2
Feature: DIABETE4: 3
Feature: DIFFWALK: 18009
Feature: EDUCA: 5
Feature: GENHLTH: 4
Feature: INCOME3: 8847
Feature: PHYSHLTH: 3
Feature: TOLDHI3: 60836
Feature: FRUTDA2_: 43951
Feature: GRENDA1_: 44250
Feature: VEGEDA2_: 48528
Feature: FTJUDA2_: 44349
Feature: FRNCHDA_: 44765
Feature: POTADA1_: 48440
Feature: _FRUTSU1: 51087
Feature: _VEGESU1: 60127
Feature: _FRTLT1A: 0
Feature: _RFDRHV7: 0
Feature: TOLDCFS: 438693

In [23]:
feature_df.drop(['TOLDCFS'], axis=1, inplace=True)
feature_df

,_AGEG5YR,_BMI5,_HLTHPLN,_MICHD,_SEX,_SMOKER3,_TOTINDA,BPHIGH6,CHOLCHK3,CVDSTRK3,...,FRUTDA2_,GRENDA1_,VEGEDA2_,FTJUDA2_,FRNCHDA_,POTADA1_,_FRUTSU1,_VEGESU1,_FRTLT1A,_RFDRHV7
0,11.0,1454.0,1.0,2.0,2.0,3.0,2.0,3.0,2.0,2.0,...,100.0,5.700000e+01,100.0,5.397605e-79,4.300000e+01,14.0,100.0,214.0,1.0,1.0
1,10.0,NaN,1.0,1.0,2.0,4.0,1.0,1.0,2.0,2.0,...,100.0,1.400000e+01,100.0,5.397605e-79,5.397605e-79,14.0,100.0,128.0,1.0,1.0
2,11.0,2829.0,1.0,1.0,2.0,4.0,2.0,1.0,2.0,2.0,...,100.0,5.397605e-79,43.0,5.397605e-79,1.400000e+01,14.0,100.0,71.0,1.0,1.0
3,9.0,3347.0,1.0,2.0,2.0,4.0,1.0,1.0,2.0,2.0,...,43.0,1.000000e+01,71.0,7.100000e+01,5.700000e+01,27.0,114.0,165.0,1.0,1.0
4,12.0,2873.0,1.0,1.0,1.0,4.0,1.0,4.0,2.0,1.0,...,100.0,1.000000e+02,100.0,5.397605e-79,2.900000e+01,29.0,100.0,258.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438688,3.0,2469.0,2.0,2.0,2.0,3.0,1.0,1.0,6.0,2.0,...,143.0,2.900000e+01,300.0,1.400000e+01,1.400000e+01,50.0,157.0,393.0,1.0,1.0
438689,13.0,NaN,9.0,2.0,1.0,4.0,2.0,1.0,2.0,2.0,...,100.0,1.000000e+02,29.0,1.000000e+02,1.400000e+01,14.0,200.0,157.0,1.0,1.0
438690,7.0,3068.0,1.0,2.0,1.0,4.0,1.0,3.0,2.0,2.0,...,200.0,2.900000e+01,100.0,5.397605e-79,5.397605e-79,14.0,200.0,143.0,1.0,1.0
438691,10.0,2373.0,1.0,2.0,1.0,4.0,1.0,1.0,2.0,2.0,...,100.0,4.300000e+01,100.0,5.397605e-79,5.397605e-79,13.0,100.0,156.0,1.0,1.0
438692,6.0,3171.0,1.0,2.0,2.0,4.0,1.0,3.0,2.0,2.0,...,17.0,4.300000e+01,17.0,1.700000e+01,3.000000e+00,3.0,34.0,66.0,2.0,1.0

In [26]:
feature_df.dropna(inplace=True)

In [27]:
feature_df

,_AGEG5YR,_BMI5,_HLTHPLN,_MICHD,_SEX,_SMOKER3,_TOTINDA,BPHIGH6,CHOLCHK3,CVDSTRK3,...,FRUTDA2_,GRENDA1_,VEGEDA2_,FTJUDA2_,FRNCHDA_,POTADA1_,_FRUTSU1,_VEGESU1,_FRTLT1A,_RFDRHV7
0,11.0,1454.0,1.0,2.0,2.0,3.0,2.0,3.0,2.0,2.0,...,100.0,5.700000e+01,100.0,5.397605e-79,4.300000e+01,14.0,100.0,214.0,1.0,1.0
2,11.0,2829.0,1.0,1.0,2.0,4.0,2.0,1.0,2.0,2.0,...,100.0,5.397605e-79,43.0,5.397605e-79,1.400000e+01,14.0,100.0,71.0,1.0,1.0
3,9.0,3347.0,1.0,2.0,2.0,4.0,1.0,1.0,2.0,2.0,...,43.0,1.000000e+01,71.0,7.100000e+01,5.700000e+01,27.0,114.0,165.0,1.0,1.0
4,12.0,2873.0,1.0,1.0,1.0,4.0,1.0,4.0,2.0,1.0,...,100.0,1.000000e+02,100.0,5.397605e-79,2.900000e+01,29.0,100.0,258.0,1.0,1.0
5,13.0,2437.0,1.0,2.0,1.0,3.0,2.0,3.0,2.0,2.0,...,29.0,1.400000e+01,14.0,5.397605e-79,5.397605e-79,14.0,29.0,42.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438687,10.0,2148.0,1.0,2.0,1.0,4.0,1.0,1.0,4.0,2.0,...,50.0,2.000000e+02,71.0,2.000000e+02,1.400000e+01,14.0,250.0,299.0,1.0,1.0
438688,3.0,2469.0,2.0,2.0,2.0,3.0,1.0,1.0,6.0,2.0,...,143.0,2.900000e+01,300.0,1.400000e+01,1.400000e+01,50.0,157.0,393.0,1.0,1.0
438690,7.0,3068.0,1.0,2.0,1.0,4.0,1.0,3.0,2.0,2.0,...,200.0,2.900000e+01,100.0,5.397605e-79,5.397605e-79,14.0,200.0,143.0,1.0,1.0
438691,10.0,2373.0,1.0,2.0,1.0,4.0,1.0,1.0,2.0,2.0,...,100.0,4.300000e+01,100.0,5.397605e-79,5.397605e-79,13.0,100.0,156.0,1.0,1.0
438692,6.0,3171.0,1.0,2.0,2.0,4.0,1.0,3.0,2.0,2.0,...,17.0,4.300000e+01,17.0,1.700000e+01,3.000000e+00,3.0,34.0,66.0,2.0,1.0

### Rename Columns:

### Clean Types